---
---
html {
  -webkit-text-size-adjust: 100%;
}
  
body {
  background-color: #0af;
}

h1 {
  color: #fff;
  font-size: 3.5em;
  font-family: monospace;
}

p {
  color: #f06;
  font-size: 2em;
  font-family: monospace;
}
